* {
    font-family: "Source Code Pro", monospace;
}
div {
    padding: 30px;
    text-align: center;
    
}

.namePassword {
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.resetSubmit {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 4%;
    margin: 0 auto;
}

.genInfo {
    background-color: #ecf6eb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.favSeason {
    background-color: #f6ebeb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#Results {
    background-color: #b7eaff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.dayNight {
    background-color: #f6f1eb;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#phoneNumber {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

#genInfo2 {
    background-color: #f1e8f6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#genInfo2inner {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0 auto;
}

#url {
    background-color: #f1e8f6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.9);
    transition: 0.3s;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#formReturn {
    text-align: center;
}